body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e9e9; 
    margin: 0;
    padding: 0;
  }
  
  .input-text {
    color: #ff6b6b; 
  }
  
  .event-label {
    color: #ff6b6b; 
  }
  
  
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('C:\Users\simon\Desktop\An III\Tehnologii Web\PROIECTSimoAndreeaTeo\src\src\image\maxresdefault.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    color: #ff6b6b; 
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #f3d7d7; 
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  strong {
    color: #ff6b6b;
  }
  
  
  button {
    background-color: #ff6b6b; 
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff4d4d; 
  }
  
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ff6b6b; 
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ff4d4d; 
  }
  
  
  .event-item {
    background-color: #fff;
    border: 1px solid #f3d7d7;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .event-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  